html {
  background-color: #151b21;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: minmax(32px, 1fr) minmax(0, 1280px) minmax(32px, 1fr);
  font-family: "Space Grotesk", sans-serif;
  color: #FBFBFB;
}

header,
main,
footer {
  grid-column: 2;
}

h1 {
  color: #3dff87;
}

h2 {
  color: #3dff87;
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 64px;
  }
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
  span {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  span {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  span {
    font-size: 14px;
  }
}
.anchor-center {
  text-align: center;
}

.anchor-end {
  text-align: end;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .responsive {
    flex-direction: row;
  }
}
@media screen and (max-width: 767px) {
  .responsive {
    flex-direction: column;
  }
}

.wrap {
  flex-wrap: wrap;
}

.link {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.4s ease;
}
.link:active {
  text-decoration: underline;
  transition: all 0.4s ease;
}

.button {
  display: inline-block;
  padding: 1rem 1.2rem 1rem 1.2rem;
  border-radius: 4px;
  font-weight: bold;
  transition: all 0.4s ease;
}
.button.blank {
  color: #FBFBFB;
  transition: all 0.4s ease;
}
.button.blank:hover {
  background-color: rgba(251, 251, 251, 0.08);
  transition: all 0.4s ease;
}
.button.green {
  color: #151b21;
  background-color: #3dff87;
  transition: all 0.4s ease;
}
.button.green:hover {
  background-color: #FBFBFB;
  transition: all 0.4s ease;
}

.card {
  border: 1px solid rgba(251, 251, 251, 0.08);
  background-color: rgba(251, 251, 251, 0.04);
  padding: 0.8rem;
  border-radius: 4px;
}

.scramble {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.extra-margin {
  margin-bottom: 16vh;
}

.horizontal-bar {
  display: block;
  width: 2px;
  height: 100%;
  background-color: #999999;
}

ul {
  list-style-type: none;
}

header {
  justify-content: space-between;
  align-items: center;
  z-index: 1001;
  padding: 1.2rem 0 1.2rem 0;
}
header > a {
  display: flex;
  justify-items: center;
}
header > a img {
  height: 3.2rem;
}
header nav {
  box-sizing: border-box;
}
header nav ul {
  justify-content: center;
  margin: 0;
}
header nav ul li a {
  margin-left: 1rem;
  font-size: 1.2rem;
}

#landing {
  container-type: inline-size;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#landing div {
  width: 100%;
}
#landing div h1 {
  font-size: 12cqw;
  margin: 0;
}
#landing div h2 {
  color: #FBFBFB;
  margin-top: 0;
}
#landing span {
  font-size: 200%;
  font-weight: bold;
}

#about .section-content {
  align-items: start;
}
@media screen and (max-width: 767px) {
  #about .section-content {
    align-items: start;
  }
}
#about .section-content .about-img {
  margin: 0 3.2rem 0 0;
}
@media screen and (max-width: 767px) {
  #about .section-content .about-img {
    align-self: center;
    margin: 0 0 1rem 0;
  }
}
#about .section-content .about-img img {
  width: 200px;
  border-radius: 4px;
}
#about .section-content .about-text p {
  margin-top: 0;
}
#about .section-content .about-text p span {
  color: #3dff87;
  font-weight: bold;
}
#about .section-content .about-text a {
  margin-top: 1rem;
}
@media screen and (max-width: 767px) {
  #about .section-content .about-text a {
    padding: 0.8rem;
  }
}
#about .section-content .about-text a:not(:last-child) {
  margin-right: 1rem;
}

#education {
  justify-content: center;
  align-items: center;
}
#education .section-title {
  width: 100%;
}
#education .section-content {
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
}
#education .section-content .degree {
  gap: 1rem;
}
#education .section-content .degree .degree-visual {
  align-items: center;
}
#education .section-content .degree .degree-visual img {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin-bottom: 1rem;
}
#education .section-content .degree .degree-text {
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.6rem;
  padding-bottom: 1rem;
}
#education .section-content .degree .degree-text h3 {
  margin: 0;
  color: #3dff87;
}
#education .section-content .degree .degree-text p {
  margin: 0;
}

#skills #skills-list {
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 980px) {
  #skills #skills-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 570px) and (max-width: 979px) {
  #skills #skills-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 569px) {
  #skills #skills-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
#skills #skills-list .skill h3 {
  color: #3dff87;
  width: 100%;
  margin: 0;
  margin-bottom: 0.4rem;
}
#skills #skills-list .skill .software-list {
  gap: 0.8rem;
}
#skills #skills-list .skill .software-list .software {
  padding: 0.4rem;
}

#projects #project-list {
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 980px) {
  #projects #project-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 640px) and (max-width: 979px) {
  #projects #project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 639px) {
  #projects #project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
#projects #project-list .project {
  cursor: pointer;
  pointer-events: none;
  transition: all 0.4s ease;
  text-decoration: none;
}
#projects #project-list .project:hover {
  border: 1px solid rgba(61, 255, 135, 0.08);
  background-color: rgba(61, 255, 135, 0.08);
  transition: all 0.4s ease;
}
#projects #project-list .project .img-container {
  width: 100%;
  aspect-ratio: 4/3;
}
#projects #project-list .project .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects #project-list .project .text-container h3 {
  margin: 0.8rem 0 0.8rem 0;
  color: #3dff87;
}
#projects #project-list .project .text-container > div {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  color: #FBFBFB;
}
#projects #project-list .project .text-container > div .button {
  color: #151b21;
  background-color: #3dff87;
  padding: 0.6rem 0.8rem 0.8rem 0.8rem;
  transition: all 0.4s ease;
}
#projects #project-list .project .text-container > div .button:hover {
  background-color: #FBFBFB;
  transition: all 0.4s ease;
}
#projects #project-list .project .text-container > div .button:active {
  text-decoration: underline;
  transition: all 0.4s ease;
}

@media screen and (min-width: 768px) {
  #contact > div .contact-cards {
    margin-right: 2rem;
  }
}
#contact > div .contact-cards > div {
  align-items: center;
}
@media screen and (max-width: 767px) {
  #contact > div .contact-cards > div {
    padding: 0.6rem;
  }
}
#contact > div .contact-cards > div i {
  margin-right: 0.4rem;
}
#contact > div .contact-cards > div:not(:last-child) {
  margin-bottom: 1rem;
}
#contact > div .contact-text p:nth-child(1) {
  margin-top: 0;
}
#contact > div .contact-text span {
  color: #3dff87;
  font-weight: bold;
}

#warning {
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#warning div {
  width: 100%;
  margin-bottom: 10vh;
}
#warning div h1 {
  color: #FBFBFB;
}
#warning div p {
  margin-top: 0;
}

footer {
  padding: 1rem 0 1rem 0;
  border-top: 1px solid #999999;
}
@media screen and (max-width: 767px) {
  footer {
    font-size: 14px;
  }
}
footer > div {
  width: 100%;
}
@media screen and (min-width: 768px) {
  footer > div {
    justify-content: space-between;
    align-items: end;
  }
}
footer > div > div:nth-child(1) > div:nth-child(1) {
  margin-right: 3.2rem;
}
footer > div > div:nth-child(1) ul {
  margin: 0;
  padding: 0;
}
footer > div > div:nth-child(1) ul li {
  margin-bottom: 1rem;
}
footer > div > div:nth-child(1) ul li span {
  color: #3dff87;
  font-weight: bold;
}
footer > div > div:nth-child(1) ul li a {
  color: #FBFBFB;
}
footer > div > div:nth-child(1) ul li a:hover {
  text-decoration: underline;
}
footer > div > div:nth-child(2) {
  height: 100%;
  align-items: end;
  justify-content: space-between;
  gap: 0.4rem;
}
@media screen and (max-width: 767px) {
  footer > div > div:nth-child(2) {
    align-items: start;
  }
}
footer > div > div:nth-child(2) > span:nth-child(2) {
  color: #999999;
}

@media screen and (max-width: 980px) {
  .desktop-nav {
    display: none;
  }
}

.burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  border-radius: 4px;
  background-color: #3dff87;
}
.burger-btn .bar {
  background-color: #151b21;
}
@media screen and (min-width: 980px) {
  .burger-btn {
    display: none;
  }
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #151b21;
  transition: 0.3s ease-in-out;
}

.burger-btn.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-btn.active .bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(21, 27, 33, 0.98);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 0.4s ease-in-out;
}
.mobile-nav.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.mobile-nav ul {
  text-align: center;
  padding: 0;
}
.mobile-nav ul li {
  margin-bottom: 1.6rem;
}
.mobile-nav ul li a {
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */