// --------------------------------------- VARIABLES ---------------------------------------

$black: #0F0F0F;
$black_desat: #151b21;
$grey_dark: #333333;
$grey: #666666;
$grey_light: #999999;
$white: #FBFBFB;

$green_bright_mint: #3dff87;

// --------------------------------------- LAYOUT ---------------------------------------

html {
    background-color: $black_desat;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(0, 1280px) minmax(32px, 1fr);
    font-family: "Space Grotesk", sans-serif;
    color: $white;
}

header, main, footer {
    grid-column: 2;
}

// --------------------------------------- FONT SIZES ---------------------------------------

h1 {
    color: $green_bright_mint;
}

h2 {
    color: $green_bright_mint;
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }
}

// --------------------------------------- TEXT ANCHORS ---------------------------------------

.anchor-center {
    text-align: center;
}

.anchor-end {
    text-align: end;
}

// --------------------------------------- FLEXBOX ---------------------------------------

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

// --------------------------------------- ELEMENTS ---------------------------------------

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#landing {
    margin: 8vh 0 8vh 0;

    div {
        container-type: inline-size;
        h1 {
            font-size: 18cqw;
            margin: 0;
        }

        h2 {
            color: $white;
            margin-top: 0;
        }
    }
}

header {
    // position: fixed;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    z-index: 1001;

    > a {
        display: flex;
        justify-items: center;
        margin-right: 1rem;

        img {
            height: 48px;
        }
    }

    nav {
        box-sizing: border-box;

        ul {
            justify-content: center;
            margin: 0;

            li {

                a {
                    cursor: pointer;
                    display: inline-block;
                    background-color: rgb(251, 251, 251, 0.08);
                    color: $white;
                    padding: 16px 24px 16px 24px;
                    margin-left: 1rem;
                    border-radius: 4px;
                    font-weight: bold;
                    transition: all 0.4s ease;

                    &:hover {
                        background-color: $green_bright_mint;
                        color: $black_desat;
                        transition: all 0.4s ease;
                    }

                    &:active {
                        text-decoration: underline;
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
}

footer {
    min-height: 48px;
    margin-top: 48px;

    p {
        text-align: center;
        font-weight: bold;
    }
}

// --------------------------------------- MENU ---------------------------------------

// ---------------- Desktop ----------------

.desktop-nav {
    @media screen and (max-width: 980px) {
        display: none;
    }
}

// ---------------- Mobile ----------------

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    gap: 6px;
    padding: 16px;
    border-radius: 4px;

    background-color: $green_bright_mint;

    .bar {
        background-color: $black_desat;
    }

    @media screen and (min-width: 980px) {
        display: none;
    }
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $black_desat;
    transition: 0.3s ease-in-out;
}

.burger-btn.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-btn.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(21, 27, 33, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.4s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    ul {
        text-align: center;
        padding: 0;

        a {
            display: block;
            font-size: 1.8rem;
            color: $green_bright_mint;
            text-decoration: none;
            margin: 25px 0;
            transition: color 0.3s;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// --------------------------------------- OVERLAY ---------------------------------------