// ================================================================
// ------------------------ VARIABLES
// ================================================================

$black: #0F0F0F;
$black_desat: #151b21;
$grey_dark: #333333;
$grey: #666666;
$grey_light: #999999;
$white: #FBFBFB;
$green_bright_mint: #3dff87;

// ================================================================
// ------------------------ LAYOUT
// ================================================================

html {
    background-color: $black_desat;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(0, 1280px) minmax(32px, 1fr);
    font-family: "Space Grotesk", sans-serif;
    color: $white;
}

header,
main,
footer {
    grid-column: 2;
}

// ================================================================
// ------------------------ TITLES
// ================================================================

h1 {
    color: $green_bright_mint;
}

h2 {
    color: $green_bright_mint;
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 36px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

// ================================================================
// ------------------------ TEXT ANCHORS
// ================================================================

.anchor-center {
    text-align: center;
}

.anchor-end {
    text-align: end;
}

// ================================================================
// ------------------------ FLEXBOX
// ================================================================

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

// ================================================================
// ------------------------ ELEMENTS
// ================================================================

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#landing {
    container-type: inline-size;
    justify-content: center;
    align-items: center;
    height: 80vh;

    div {

        h1 {
            font-size: 18cqw;
            margin: 0;
        }

        h2 {
            color: $white;
            margin-top: 0;
        }
    }

    span {
        font-size: 200%;
        font-weight: bold;
    }
}

header {
    // position: fixed;
    min-height: 48px;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    padding: 24px 0 24px 0;

    >a {
        display: flex;
        justify-items: center;
        margin-right: 1rem;

        img {
            height: 48px;
        }
    }

    nav {
        box-sizing: border-box;

        ul {
            justify-content: center;
            margin: 0;

            li {

                a {
                    cursor: pointer;
                    display: inline-block;
                    padding: 16px 24px 16px 24px;
                    margin-left: 16px;
                    border-radius: 4px;
                    color: $white;
                    font-size: 120%;
                    font-weight: bold;
                    transition: all 0.4s ease;

                    &:hover {
                        // box-shadow: 0px 0px 4px 4px rgb(61, 255, 135, 0.4);
                        background-color: rgb(251, 251, 251, 0.08);
                        transition: all 0.4s ease;
                    }

                    &:active {
                        text-decoration: underline;
                        transition: all 0.4s ease;
                    }

                    &.highlight {
                        color: $black_desat;
                        background-color: $green_bright_mint;
                        transition: all 0.4s ease;

                        &:hover {
                            background-color: rgb(61, 255, 135, 0.64);
                            transition: all 0.4s ease;
                        }
                    }
                }
            }
        }
    }
}

footer {
    min-height: 48px;
    margin-top: 48px;
    padding: 16px 0px 16px 0px;
    border-top: 1px solid $grey_light;

    @media screen and (max-width: 767px) {
        font-size: 14px;
    }

    >div {
        width: 100%;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        >div:nth-child(-n + 1) {

            >div:nth-child(-n + 1) {
                margin-right: 48px;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 16px;

                    span {
                        color: $green_bright_mint;
                        font-weight: bold;
                    }

                    a {
                        color: $white;

                        &:hover {
                            text-decoration: underline;
                        }


                    }
                }
            }
        }

        >div:nth-child(even) {
            height: 100%;

            @media screen and (min-width: 768px) {
                align-items: end;
                justify-content: space-between;
            }

            @media screen and (max-width: 767px) {
                margin-top: 16px;
            }

            >div:nth-child(-n + 1) {
                @media screen and (min-width: 768px) {
                    align-items: end;
                }

                >span {
                    margin-bottom: 8px;
                }
            }

            >span {
                color: $grey_light;
            }
        }
    }
}

// ================================================================
// ------------------------ MENU
// ================================================================

// -------- Desktop --------

.desktop-nav {
    @media screen and (max-width: 980px) {
        display: none;
    }
}

// -------- Mobile --------

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    gap: 6px;
    padding: 16px;
    border-radius: 4px;

    background-color: $green_bright_mint;

    .bar {
        background-color: $black_desat;
    }

    @media screen and (min-width: 980px) {
        display: none;
    }
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $black_desat;
    transition: 0.3s ease-in-out;
}

.burger-btn.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-btn.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(21, 27, 33, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.4s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    ul {
        text-align: center;
        padding: 0;

        li {

            a {
                cursor: pointer;
                display: inline-block;
                padding: 16px 24px 16px 24px;
                margin-bottom: 24px;
                border-radius: 4px;
                color: $white;
                font-size: 120%;
                font-weight: bold;
                transition: all 0.4s ease;

                &:hover {
                    // box-shadow: 0px 0px 4px 4px rgb(61, 255, 135, 0.4);
                    background-color: rgb(251, 251, 251, 0.08);
                    transition: all 0.4s ease;
                }

                &:active {
                    text-decoration: underline;
                    transition: all 0.4s ease;
                }

                &.highlight {
                    color: $black_desat;
                    background-color: $green_bright_mint;
                    transition: all 0.4s ease;

                    &:hover {
                        background-color: rgb(61, 255, 135, 0.64);
                        transition: all 0.4s ease;
                    }
                }
            }
        }
    }
}

// ================================================================
// ------------------------ OVERLAY
// ================================================================

// Nothing here... For now