// ================================================================
// ------------------------ VARIABLES
// ================================================================

$black: #0F0F0F;
$black_desat: #151b21;
$grey_dark: #333333;
$grey: #666666;
$grey_light: #999999;
$white: #FBFBFB;
$green_bright_mint: #3dff87;

// ================================================================
// ------------------------ LAYOUT
// ================================================================

html {
    background-color: $black_desat;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(32px, 1fr) minmax(0, 1280px) minmax(32px, 1fr);
    font-family: "Space Grotesk", sans-serif;
    color: $white;
}

header,
main,
footer {
    grid-column: 2;
}

// ================================================================
// ------------------------ TITLES
// ================================================================

h1 {
    color: $green_bright_mint;
}

h2 {
    color: $green_bright_mint;
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    span {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    span {
        font-size: 14px;
    }
}

// ================================================================
// ------------------------ TEXT ANCHORS
// ================================================================

.anchor-center {
    text-align: center;
}

.anchor-end {
    text-align: end;
}

// ================================================================
// ------------------------ FLEXBOX
// ================================================================

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.responsive {
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.wrap {
    flex-wrap: wrap;
}

// ================================================================
// ------------------------ ELEMENTS
// ================================================================

// -------- Links --------

.link {
    cursor: pointer;
    text-decoration: none;
    transition: all 0.4s ease;

    &:active {
        text-decoration: underline;
        transition: all 0.4s ease;
    }
}

.button {
    display: inline-block;
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.4s ease;

    &.blank {
        color: $white;
        transition: all 0.4s ease;

        &:hover {
            background-color: rgb(251, 251, 251, 0.08);
            transition: all 0.4s ease;
        }
    }

    &.green {
        color: $black_desat;
        background-color: $green_bright_mint;
        transition: all 0.4s ease;

        &:hover {
            background-color: $white;
            transition: all 0.4s ease;
        }
    }
}

// -------- Cards --------

.card {
    border: 1px solid rgb(251, 251, 251, 0.08);
    background-color: rgb(251, 251, 251, 0.04);
    padding: 0.8rem;
    border-radius: 4px;
}

// -------- Scramble --------

.scramble {
    user-select: none;
}

// -------- Extra margin --------

.extra-margin {
    margin-bottom: 16vh;
}

// -------- Bar --------

.horizontal-bar {
    display: block;
    width: 2px;
    height: 100%;
    background-color: $grey_light;
}

// ================================================================
// ------------------------ MISC
// ================================================================

// h2 {
//     text-align: center;
// }

ul {
    list-style-type: none;
}

header {
    // position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    padding: 1.2rem 0 1.2rem 0;

    >a {
        display: flex;
        justify-items: center;

        img {
            height: 3.2rem;
        }
    }

    nav {
        box-sizing: border-box;

        ul {
            justify-content: center;
            margin: 0;

            li {

                a {
                    margin-left: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

#landing {
    container-type: inline-size;
    justify-content: center;
    align-items: center;
    height: 80vh;

    div {
        width: 100%;

        h1 {
            font-size: 12cqw;
            margin: 0;
        }

        h2 {
            color: $white;
            margin-top: 0;
        }
    }

    span {
        font-size: 200%;
        font-weight: bold;
    }
}

#about {

    .section-content {
        align-items: start;

        @media screen and (max-width: 767px) {
            align-items: start;
        }

        .about-img {
            margin: 0 3.2rem 0 0;

            @media screen and (max-width: 767px) {
                align-self: center;
                margin: 0 0 1rem 0;
            }

            img {
                width: 200px;
                border-radius: 4px;
            }
        }

        .about-text {
            p {
                margin-top: 0;

                span {
                    color: $green_bright_mint;
                    font-weight: bold;
                }
            }

            a {
                margin-top: 1rem;

                @media screen and (max-width: 767px) {
                    padding: 0.8rem;
                }

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }
    }
}

#education {
    justify-content: center;
    align-items: center;

    .section-title {
        width: 100%;
    }

    .section-content {
        width: fit-content;
        gap: 1rem;

        .degree {
            gap: 1rem;

            .degree-visual {
                align-items: center;

                img {
                    width: 48px;
                    height: 48px;
                    border-radius: 4px;
                    margin-bottom: 1rem;
                }
            }

            .degree-text {
                width: fit-content;
                gap: 0.6rem;
                padding-bottom: 1rem;

                h3 {
                    margin: 0;
                    color: $green_bright_mint;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

#skills {
    
    #skills-list {
        display: grid;
        gap: 1rem;
        flex-wrap: wrap;

        @media screen and (min-width: 980px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 570px) and (max-width: 979px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 569px) {
            grid-template-columns: repeat(1, 1fr);
        }

        

        .skill {

            h3 {
                color: $green_bright_mint;
                width: 100%;
                margin: 0;
                margin-bottom: 0.4rem;
                // padding-bottom: 0.8rem;
                // border-bottom: 1px solid rgb(251, 251, 251, 0.08);
            }

            .software-list {
                gap: 0.8rem;

                .software {
                    padding: 0.4rem;
                }
            }
        }
    }
}

#projects {

    #project-list {
        display: grid;
        gap: 1rem;
        flex-wrap: wrap;

        @media screen and (min-width: 980px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (min-width: 640px) and (max-width: 979px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 639px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .project {
            // padding: 0;
            cursor: pointer;
            pointer-events: none; // remove this line when links are added
            transition: all 0.4s ease;
            text-decoration: none;

            &:hover {
                border: 1px solid rgb(61, 255, 135, 0.08);
                background-color: rgb(61, 255, 135, 0.08);
                transition: all 0.4s ease;
            }

            .img-container {
                width: 100%;
                aspect-ratio: 4/3;

                img {
                    width: 100%;
                    height: 100%;
                    // border-radius: 4px 4px 0 0;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }

            .text-container {
                // padding: 0.8rem;

                h3 {
                    margin: 0.8rem 0 0.8rem 0;
                    color: $green_bright_mint;
                }

                >div {
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;
                    color: $white;

                    .button {
                        color: $black_desat;
                        background-color: $green_bright_mint;
                        padding: 0.6rem 0.8rem 0.8rem 0.8rem;
                        transition: all 0.4s ease;

                        &:hover {
                            background-color: $white;
                            transition: all 0.4s ease;
                        }

                        &:active {
                            text-decoration: underline;
                            transition: all 0.4s ease;
                        }
                    }
                }
            }
        }
    }
}

#contact {

    >div {

        .contact-cards {

            @media screen and (min-width: 768px) {
                margin-right: 2rem;
            }

            >div {
                align-items: center;

                @media screen and (max-width: 767px) {
                    padding: 0.6rem;
                }

                i {
                    margin-right: 0.4rem;
                }
            }

            >div:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        .contact-text {

            p:nth-child(1) {
                margin-top: 0;
            }

            span {
                color: $green_bright_mint;
                font-weight: bold;
            }
        }
    }
}

#warning {
    justify-content: center;
    align-items: center;
    height: 90vh;

    div {
        width: 100%;
        margin-bottom: 10vh;

        h1 {
            color: $white;
        }

        p {
            margin-top: 0;
        }
    }
}

footer {
    padding: 1rem 0 1rem 0;
    border-top: 1px solid $grey_light;

    @media screen and (max-width: 767px) {
        font-size: 14px;
    }

    >div {
        width: 100%;

        @media screen and (min-width: 768px) {
            justify-content: space-between;
            align-items: end;
        }

        >div:nth-child(1) {

            >div:nth-child(1) {
                margin-right: 3.2rem;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 1rem;

                    span {
                        color: $green_bright_mint;
                        font-weight: bold;
                    }

                    a {
                        color: $white;

                        &:hover {
                            text-decoration: underline;
                        }


                    }
                }
            }
        }

        >div:nth-child(2) {
            height: 100%;
            align-items: end;
            justify-content: space-between;
            gap: 0.4rem;

            @media screen and (max-width: 767px) {
                align-items: start;
            }

            >span:nth-child(2) {
                color: $grey_light;
            }
        }
    }
}

// ================================================================
// ------------------------ MENU
// ================================================================

// -------- Desktop --------

.desktop-nav {
    @media screen and (max-width: 980px) {
        display: none;
    }
}

// -------- Mobile --------

.burger-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    gap: 6px;
    padding: 16px;
    border-radius: 4px;

    background-color: $green_bright_mint;

    .bar {
        background-color: $black_desat;
    }

    @media screen and (min-width: 980px) {
        display: none;
    }
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: $black_desat;
    transition: 0.3s ease-in-out;
}

.burger-btn.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.burger-btn.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(21, 27, 33, 0.98);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.4s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    ul {
        text-align: center;
        padding: 0;

        li {
            margin-bottom: 1.6rem;

            a {
                font-size: 24px;
            }
        }
    }
}

// ================================================================
// ------------------------ OVERLAY
// ================================================================

// Nothing here... For now